<!DOCTYPE html>
<html>

<head>
    {{ .ghead }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{.title}}" />
    {{if .ogimg}}<meta property="og:image" content="{{.ogimg}}" />{{end}}
    {{if .description}}<meta name="description" content="{{.description}}" />{{end}}
    {{if .section}}<meta name="article:section" content="{{.section}}" />{{end}}
    {{range .tag}}
    <meta property="article:tag" content="{{.}}" />
    {{end}}

    <title>{{.title}}</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"
        integrity="sha512-TJX3dl0dqF2pUpKKtV60kECO4y8blw4ZPIZNEkfUnFepRKfx4nfiI37IqFa1TEsRQJkPGTIK4BBJ2k/lmsK7HA=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/themes/black/pace-theme-minimal.min.css"
        integrity="sha512-wZ6esd5RZquaIzg6cWvZeGWK5Q0c1kAMrxPxcz9fLuqBkxKlnc8bp58OdTNgLc0ZT6qzYWN1A8tO0Yh4dExqEA=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/styles/ocean.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/highlight.min.js"></script>
    <link rel="stylesheet" href="/public/global.css">
    <script src="/public/global.js"></script>
</head>

<body class="w3-light-gray">
    {{ .gbody }}
    <div id="main-document">
        <div class="w3-container w3-teal w3-animate-left">
            <a href="/">
                <h1>{{.navtitle}}</h1>
            </a>
        </div>
        <div class="w3-padding-24 w3-round-medium">
            <div
                class="w3-container w3-card w3-padding-48 w3-blue-grey w3-round-medium w3-margin-bottom w3-animate-top w3-auto">
                <h3>{{.title}}</h3>
                <hr>
                {{.body}}

                {{.gfooter}}
            </div>
        </div>
    </div>
</body>

</html>
